html, body {
    height: 100%;
  }
.app {
    height: 100%;
}
.loginCard {
    width: 300px;
    height: 450px;
}
.statusContainer {
    top: 7px;
    margin-left: 45px;
}
.statusLabel {
    top: -2px;
}